.container {
    margin: 0 13%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.product {
    display: flex;
    max-width: 327px;
    align-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

.under {
    padding: 10px 20px;
}

.link {
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    padding: 8px;
}

.price {
    color: black;
    padding: 4px;
    float: right;
    text-align: right;
}

.productimg {
    margin-left: 4px;
    margin-top: 3px;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

h2 {
    margin: 10px;
}