.container {
    margin-left: 10%;
}

.table_name {
    width: 80%;
}

.link {
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 36px;
    padding: 8px;
}

.cena {
    font-size: 24px;
}